<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>班级数据</title>
    <link rel="stylesheet" href="../../../public/css/index.css">
    <script src='../../../public/js/jquery.min.js'></script>
    <script src="../../../public/js/echarts.min.js"></script>
</head>

<body>
   
    <section class="content">
        <div class="right">
            <ul>
                <li>
                    <div class="hd">
                        <div id="e1" style="width: 100%;height:70%;">
                    </div>
                    <div class="td">
                        <div>
                            <h3>班级：<b id="b1"></b></h3>
                        </div>
                        <div>
                            <span>人数： <b id="num1"></b></span>
                            <div>
                                
								<button class="gray-btn" onClick="charge()">详情</button>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="hd">
                       <div id="e2" style="width: 100%;height:70%;">
                    </div>
                    <div class="td">
                        <div>
                             <h3>班级：<b id="b2"></b></h3>
                        </div>
                        <div>
                            <span>人数： <b id="num2"></b></span>
                            <div>
                                <button class="gray-btn" >详情</button>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="hd">
                       <div id="e3" style="width: 100%;height:70%;">
                    </div>
                    <div class="td">
                        <div>
                             <h3>班级：<b id="b3"></b></h3>
                        </div>
                        <div>
                            <span>人数： <b id="num1"></b></span>
                            <div>
                                <button class="gray-btn" >详情</button>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="hd">
                       <div id="e4" style="width: 100%;height:70%;">
                    </div>
                    <div class="td">
                        <div>
                             <h3>班级：<b id="b4"></b></h3>
                        </div>
                        <div>
                            <span>人数： <b id="num1"></b></span>
                            <div>
                                <button class="gray-btn" >详情</button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
<script src="../../../public/js/tool/class_echarts.js"></script>
</body>

</html>
