<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>创建</title>
<link rel="stylesheet" type="text/css" href="../../../public/css/myscroll.css" />
<style type="text/css">
.content
{
   height:500px; 
   width:80%; 
   background-size:100% 100%;
   margin-left:auto; 
   margin-right:auto; 
   margin-top:3%;
   padding-left:10px;
   overflow:auto;
   border:1px solid #333951;
   box-shadow: #ccc 0px 0px 10px;
}
#center-up{
	height: 260px;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left:10%;
	margin-top:10%;
}
</style>
</head>

<body>
<div class="content">
<div id="center-up">
            <div class="myscroll">
			<div id="myscrollbox">
				<ul>
					<li style="margin:0"><a href="../student/student_add.html">
                        <img src="../../../public/image/student.jpg" width="220" height="260">
                        <span class="intro">
					         <h5>新建学生</h5>
                             <p>student</p>
					         <p>点击添加学生信息</p>
					    </span>
                     </a>
                     </li>
					<li><a href="../class/class_add.html">
                       <img src="../../../public/image/class.jpeg" width="220" height="260">
                        <span class="intro">
					         <h5>新建班级</h5>
                             <p>class</p>
					         <p>点击添加班级信息</p>
					    </span>
                     </a>
                     </li>
					<li><a href="../teacher/teacher_add.html">
                        <img src="../../../public/image/teacher.jpeg" width="220" height="260">
                        <span class="intro">
					         <h5>新建教师</h5>
                             <p>teacher</p>
					         <p>点击添加教师信息</p>
					    </span>
                     </a>
                     </li>
				</ul>
			</div>
		 </div>
        </div>
       </div>
</body>
</html>
