<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<style type="text/css">
.excharts{
	height:180px; 
	width:80%; 
	background-color:#FFF; 
	margin-top:8%;
	margin-left:auto; 
    margin-right:auto; 
	box-shadow: #ccc 0px 0px 10px;
}
</style>
</head>
<body>
<div class="excharts">
    
    <div style="height:100%;width:18%;float:left;font-size:18px">
        <p style="margin-top:35%; margin-left:20%">请假</p>
    </div>
    <div style="height:100%;width:82%;float:left;font-size:18px">
        <a href="../admin/leaver.html">
            <p style="margin-top:8%; margin-left:85%">详情</p>
        </a>
    </div>
</div>

<div class="excharts">

    <div style="height:100%;width:18%;float:left;font-size:18px">
        <p style="margin-top:35%; margin-left:20%">外出登记</p>
    </div>
    <div style="height:100%;width:82%;float:left;font-size:18px">
        <a href="../admin/register.html">
            <p style="margin-top:8%; margin-left:85%">详情</p>
        </a>
    </div>
   
</div>

</body>
</html>